@import './../../scss/abstracts/_mixins';
.doctors {
 
  margin-top: 100px;
  &__title {
    margin-bottom: 40px;
    @media all and (max-width: 440px) {
      text-align: left;
      }
  }
  &__wrap {
    background: #FFFFFF;
    max-width: 260px;
    height: 386px;
    width: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    // @media all and (max-width: 321px) {
    //   max-width: 206px;
    //   }
  }
  &__img {
    width: 120px;
    margin: 50px 0 20px;
  }
  &__subtitle {
    text-align: center;
    @include text(16px, 500, 24px, #0F2F2E);
    margin-bottom: 15px;
    @media all and (max-width: 321px) {
      @include text(12px, 500, 24px, #0F2F2E);
      }
  }
  &__text {
    color: $accentColor;
    margin-bottom: 30px;
    font-size: 12px;
  }
  &__button {
    border-color: $accentColor;
    background-color: $accentColor;
    color: #FFFFFF;
    width: 178px;
    height: 40px;
    margin-bottom: 36px;
    
}
  &__button:hover {
    color: $accentColor; 
    background-color: inherit;
    border-color: $accentColor;
  }
  &__main-button {
    border-color: $accentColor;
    color: $accentColor;
    width: 221px;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    @media all and (max-width: 770px) {
      margin: 0;
      margin-top: 40px;
      }
      @media all and (max-width: 400px) {
        width: 140px;
        height: 40px;
        }
  }
  &__main-button:hover {
    color: #FFFFFF;
    background-color: $accentColor;
    border: none;
  }
}

.slick-initialized .slick-slide {
  display: flex;
}
.slider {
  position: relative;
}


button > .slick-prev, 
button > .slick-next {
  position: absolute;
}

button > .slick-next {
    top: -89px;
    right: 20px;
}
button > .slick-prev {
    top: -89px;
    right: 98px;
}