.header {
  margin: 40px 10px 0;
  overflow: hidden;
  @media all and (max-width: 514px) {
    margin: 10px 10px;
    }
  &__background {
    max-width: 1360px;
    width: 100%;
    padding-bottom: 96px;
    margin: 0 auto;
    background: #FFFFFF;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      @media all and (max-width: 321px) {
        padding-bottom: 26px;
        }
  }  
  &__wrapper {
    margin-top: 103px;
    display: flex;
    @media all and (max-width: 888px) {
      flex-direction: column-reverse;
      align-items: center;
      }
      @media all and (max-width: 514px) {
        margin-top: 60px;
        }
        @media all and (max-width: 320px) {
          margin-top: 0;
          }
}
  &__title--color {
    color: $accentColor;
  }
  &__content {
    max-width: 500px;
    width: 100%;
  }
  &__text {
    font-style: normal;
font-weight: 400;
line-height: 150%;
margin-top: 40px;
@media all and (max-width: 888px) {
  text-align: center;
  }
  @media all and (max-width: 320px) {
    margin-top: 20px;
    }
  }
  &__btn {
    border-color: $accentColor;
    color: $accentColor;
    width: 231px;
    height: 60px;
    @media all and (max-width: 514px) {
      width: 240px;
    height: 40px;
    margin-bottom: 30px;
      }
      @media all and (max-width: 514px) {
      margin-bottom: 10px;
        }
  }
  &__btn:hover {
    color: #FFFFFF;
    background-color: $accentColor;
    border: none;
  }
  &__button {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 514px) {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      }
      @media all and (max-width: 450px) {
        margin-top: 40px;
        }
      @media all and (max-width: 391px) {
        margin-top: 20px;
        }
  }
  &__images {
    position: relative;
   
  }
  &__img {
    position: absolute;
    max-width: 778px;
    bottom: -76px;
    @media all and (max-width: 1044px) {
      max-width: 600px;
      bottom: 6px;
    left: -39px;
    }
    @media all and (max-width: 888px) {
      position: relative;
      width: 100%;
      left: 30px;
      margin-bottom: 10px;
      }
  }
}
.title {
  line-height: 120%;
  font-style: normal;
  @media all and (max-width: 888px) {
    text-align: center;;
    }
        
}