.nav {
  display: flex;
  flex-direction: column;
  max-width: 1016px;
  width: 100%;
  margin-top: 82px;
  font-size: 14px;
    @media all and (max-width: 888px) {
      padding-top: 40px;
      max-width: initial;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: #0F2F2E;;
      transform: translateX(-100%);
      transition: transform 0.5s ease;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      -webkit-transition: transform 0.5s ease;
      -moz-transition: transform 0.5s ease;
      -ms-transition: transform 0.5s ease;
      -o-transition: transform 0.5s ease;
      z-index: 10;
    
  }
  &__list,
  &__list--bottom,
  &__list__wrap {
    display: flex;
    justify-content: space-between;
    
  }
  &__logo {
    margin-right: 28px;
    @media all and (max-width: 948px) {
      padding: 50px 0 0 50px;
    }
    @media all and (max-width: 321px) {
      padding: 10px 0 0 10px;
        }
  }
  &__list__wrap{
   max-width: 472px;
   width: 100%;
  }
  &__list--bottom{
    margin-top: 42px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__link {
    font-family: OnestMedium;
  }
  &__item--first,
  &__item--second,
  &__item--third,
  &__item--fourth,
  &__item--bottom {
    position: relative;
  }
  &__item--first:before,
  &__item--second:before,
  &__item--third:before,
  &__item--fourth:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -19px;
  }
  &__item--first:before {
    background-image: url(../../../img/icons/location.svg);
    width: 14px;
    height: 18px;
    top: -2px;
    left: -22px;
  }
  &__item--second:before {
    background-image: url(../../../img/icons/letter.svg);
    width: 19px;
    height: 14px;
    top: 1px;
    left: -27px;
  }
  &__item--third:before {
    background-image: url(../../../img/icons/watch.svg);
    width: 16px;
    height: 16px;
    top: 0px;
    left: -24px;
  }
  &__item--fourth:before {
    background-image: url(../../../img/icons/phone.svg);
    width: 16px;
    height: 16px;
    top: -1px;
    left: -22px;
  }
  &__item--bottom:first-child:before {
    content: "";
    position: absolute;
    background-image: url(../../../img/icons/burger.svg);
    width: 16px;
    height: 16px;
    top: -2px;
    left: -26px;
  }
}

.burger {
  display: none;
  z-index: 11;
  @media all and (max-width: 888px) {
    display: block;
    margin-right: 20px;
    width: 60px;
    }
    @media all and (max-width: 540px) {
      width: 40px;
      }
      @media all and (max-width: 321px) {
        margin-right: 10px;
          }
}
.nav.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  z-index: 10;
}