.ourDoctors {
  &__title {
    margin: 30px 0 30px;
  }
  &__wrap {
    @media all and (max-width: 1200px) {
      margin: 10px;
      }
  }
  &__wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
  padding: 4px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
  max-height: 1160px;
  @media all and (max-width: 1200px) {
    display: flex;
  max-width: 1180px;
  flex-wrap: wrap;
  grid-column-gap: 0;
  grid-row-gap: 0;
    }
  
  }
}
.breadcrumb {
  margin-top: 98px;
  display: flex;
  &__item{
    margin-right: 24px;
    position: relative;
  }
  &__item:last-child::before {
    content: ">";
    position: absolute;
    top: -1px;
    left: -16px;
    width: 5px;
    height: 5px;
  }
  
}

.ourDoctors__wrap > .doctor-none {
  @media all and (max-width: 680px) {
    display: none
    }

}