.services {
  margin-top: 100px;
  color: $textColor
}

details > summary {
  color: #ffff;
  border-radius: 40px;
  list-style-type: none;
  background-color: $accentColor;
  margin-top: 10px;
  padding: 25px 0 25px 60px;}

  