@font-face {
	font-family: OnestMedium;
	font-display:swap;
	src:url("../fonts/OnestMedium1602-hint.woff") format("woff");
	font-weight:500;
	font-style:normal;
}
@font-face {
	font-family: nestLight;
	font-display:swap;
	src:url("../fonts/OnestLight1602-hint.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
